.bar rect {
    fill: #000000;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hor-axis path,
.hor-axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.hor-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*d3 tip*/

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px; }
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center; }
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0; }
